@import "../../../shared/styles/colors";
@import "../../../shared/styles/components.scss";

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding-top: 1.5rem;

  @media (max-width: 1060px) {
    margin-bottom: 2rem;
  }

  .text {
    &:hover {
      background: $yellow;
      color: $purple;
      cursor: pointer;
    }
  }
}
