@import "../../../shared/styles/colors";

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;

  .text {
    font-family: "Space Grotesk", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    background: $darkPurple;
    color: $white;
    border-radius: 2rem;
    padding: 0.8rem 2.1rem;
    transition: all 0.4s;
    border: none;

    &:hover {
      background: $yellow;
      color: $purple;
      cursor: pointer;
    }
  }
}
