<div
  class="background"
  [ngClass]="[
    (hasPlayerWon$ | async) ? 'playerWon' : '',
    currentPlayer === PLAYER.playerOne ? 'playerOne' : 'playerTwo'
  ]"
>
  <div class="container">
    <app-player-indicator
      [playerIndicatorIconName]="PLAYER.playerOne"
      [playerIndicatorText]="PLAYER.playerOne"
      [playerScore]="scoreboard?.[PLAYER.playerOne] || 0"
    ></app-player-indicator>
    <div class="mid-part">
      <app-control-panel></app-control-panel>
      <app-game-board></app-game-board>
      <app-dashboard
        [player]="currentPlayer"
        [hasPlayerWon]="(hasPlayerWon$ | async)!"
      ></app-dashboard>
    </div>
    <app-player-indicator
      [playerIndicatorIconName]="PLAYER.playerTwo"
      [playerIndicatorText]="PLAYER.playerTwo"
      [playerScore]="scoreboard?.[PLAYER.playerTwo] || 0"
    ></app-player-indicator>
  </div>
</div>
