<div class="background">
  <div class="container">
    <app-player-indicator
      playerIndicatorText="Player 1"
      playerIndicatorIconName="player-one"
    ></app-player-indicator>
    <div class="mid-part">
      <app-control-panel></app-control-panel>
      <app-game-board></app-game-board>
      <app-dashboard></app-dashboard>
    </div>
    <app-player-indicator
      playerIndicatorText="Player 2"
      playerIndicatorIconName="player-two"
    ></app-player-indicator>
  </div>
</div>

<!-- TODO pass score to player indicator component-->
