<div class="background">
  <div class="container">
    <app-player-indicator
      [playerIndicatorIconName]="PLAYER.playerOne"
      [playerIndicatorText]="PLAYER.playerOne"
    ></app-player-indicator>
    <div class="mid-part">
      <app-control-panel></app-control-panel>
      <app-game-board></app-game-board>
      <app-dashboard></app-dashboard>
    </div>
    <app-player-indicator
      [playerIndicatorIconName]="PLAYER.playerTwo"
      [playerIndicatorText]="PLAYER.playerTwo"
    ></app-player-indicator>
  </div>
</div>
