@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins/vertical-responsiveness";

.selectable {
  background: black;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  display: block;
  background: $purple;
  border: 3px solid $black;
  box-shadow: inset 0 8px $black;
  margin-bottom: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;

  @media (max-width: 1060px) {
    margin-bottom: 1.5rem;
    width: 5.6rem;
    height: 5.6rem;
    box-shadow: inset 0 5px $black;
  }

  @media (max-width: 530px) {
    margin-bottom: 1.5rem;
    width: 3.6rem;
    height: 3.6rem;
    box-shadow: inset 0 5px $black;
  }

  @media (hover: hover) {
    &.hovered {
      &.playerOne {
        background: $red;
      }

      &.playerTwo {
        background: $yellow;
      }
    }
  }

  &.selected {
    &.playerOne {
      background: $red;
    }

    &.playerTwo {
      background: $yellow;
    }
  }
}
