@import "../../../shared/styles/colors";
@import "../../../shared/styles/components";

.dashboard {
  width: 20rem;
  height: 17rem;
  position: absolute;
  left: 50%;
  bottom: -15rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../../assets/images/turn-background-red.svg") no-repeat;
  background-size: contain;
  color: $white;

  &.playerTwo {
    background: url("../../../assets/images/turn-background-yellow.svg")
      no-repeat;
    background-size: contain;

    .text {
      color: $black;
    }
  }

  &.winnerState {
    border: 3px solid $black;
    background: $white;
    color: $black;
    box-shadow: 0px 10px 0px 0px #000;
    width: 28.5rem;
    height: 16rem;
    border-radius: 2rem;
    bottom: -13rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wins {
      font-size: 5.6rem;
    }

    .button:hover {
      background: $purple;
      cursor: pointer;
    }
  }

  .text {
    font-family: "Space Grotesk", serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .countdown {
    font-size: 3.5rem;
    margin-top: 1rem;
  }

  @media (max-width: 630px) {
    width: 13rem;
    height: 11rem;
    bottom: -9rem;

    .text {
      font-size: 1.2rem;
    }

    .countdown {
      font-size: 2.5rem;
      margin-top: 1rem;
    }

    &.winnerState {
      width: 18.5rem;
      height: 10rem;
      border-radius: 2rem;
      bottom: -8rem;

      .wins {
        font-size: 2.6rem;
      }
    }
  }
}
