@import "../../shared/styles/colors";

.mainMenu {
  background: $purple;
  width: 48.5rem;
  height: 48.5rem;
  border-radius: 40px;
  border: 3px solid $black;
  box-shadow: 0px 10px 0px $black;

  .logo {
    padding: 7rem;
    text-align: center;
  }

  .play {
    background: $yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gameRules {
    background: $white;
    display: flex;
    align-items: center;
  }

  .button {
    width: 80%;
    margin: 3rem auto;
    font-size: 2.4rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 3px solid $black;
    box-shadow: 0px 10px 0px $black;
    border-radius: 2rem;
    padding: 0 2rem;
    font-weight: bold;
    height: 7.2rem;
    transition: all 0.3s;

    &:active {
      transform: translateY(10px);
      box-shadow: 0px 0px 0px #5c2dd5;
    }
  }

  @media (max-width: 630px) {
    width: 36.5rem;
    height: 37.5rem;

    .logo {
      padding: 4rem 4rem 0 4rem;
      text-align: center;
    }

    .button {
      font-size: 1.8rem;
    }

    .playerVsPlayer img {
      width: 7rem;
    }
  }
}
