<div class="layer">
  <ng-container *ngIf="gameBoard">
    <div
      (mouseenter)="onMouseenter(i)"
      (mouseleave)="onMouseLeave()"
      (click)="onClickColumn()"
      *ngFor="let column of gameBoard; let i = index"
    >
      <ng-container *ngFor="let selectable of gameBoard[i]">
        <app-selectable
          [player]="selectable.player"
          [isHovered]="selectable.isHovered"
          [isSelected]="selectable.isSelected"
        ></app-selectable>
      </ng-container>
    </div>
  </ng-container>
</div>
