/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // font size 10px
}

body {
  font-family: "Space Grotesk", sans-serif;
}

ngneat-dialog {
  .ngneat-dialog-content {
    width: 40rem !important;
    height: 36.6875rem !important;
    border-radius: 2.5rem;
  }
}
